# OS
.DS_Store

# Python
*.pyc
*.pyo

# Common IDEs
*.swp
.idea/
.buildpath
.project
.pydevproject
.settings
atlassian-ide-plugin.xml

# Project
/public/static
/public/media
# Ignore documentation builds.
/docs/_build
# Ignore Log Files
/log/*.log

